name: Build and Release Windows

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true

      - name: Install dependencies (GLFW + Raylib)
        shell: msys2 {0}
        run: |
          pacman -S --noconfirm \
          mingw-w64-x86_64-gcc \
          mingw-w64-x86_64-pkg-config \
          mingw-w64-x86_64-raylib \
          mingw-w64-x86_64-glfw

      - name: Build XP Tracker
        shell: msys2 {0}
        run: |
          rm -rf ./bin/*
          gcc -static -I./include -L/mingw64/lib \
          ./src/main.c ./src/components/InputFieldComponent.c ./src/components/LoadMenuComponent.c ./src/utilities/data_persistence.c \
          -o bin/xp_tracker.exe \
          -Wall -Werror -Wimplicit-function-declaration -std=c99 \
          -lraylib -lglfw3 \
          -lopengl32 -lgdi32 -lwinmm -lcomdlg32 -lole32 -luuid -lkernel32 -limm32 -lws2_32 -lcomctl32 -lshlwapi

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: bin/xp_tracker.exe
          overwrite_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
